In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from textblob import TextBlob
import nltk
import tslearn
from scipy import stats
import matplotlib.pyplot as plt
from sklearn import preprocessing
import timestring
import datetime

In [2]:
missing_values = ["n/a", "na", "--"]

In [66]:
stock = pd.read_csv("DataApril.csv", sep = ",", na_values = missing_values)
gold = pd.read_csv("GoldDataFinal.csv", sep = ",",na_values = missing_values)
oil = pd.read_csv("OilDataFinal.csv", sep = ",",na_values = missing_values)
news = pd.read_csv("newsdata1.csv", sep=",",na_values = missing_values)
stock.head()

,Id,stockdate,sector,subsector,companyname,stockcode,openprice,highprice,lowprice,lastprice,volume,created_at
0,821,4/17/2019,main_market,healthcare,ADVENTA,7191,0.35,0.355,0.35,0.35,49700,4/19/2019 17:35
1,2684,4/17/2019,main_market,healthcare,DPHARMA,7148,1.31,1.310,1.30,1.31,902500,4/19/2019 17:35
2,3688,4/17/2019,main_market,healthcare,HARTA,5168,4.69,4.760,4.69,4.73,6626400,4/19/2019 17:35
3,4692,4/17/2019,main_market,healthcare,IHH,5225,5.58,5.580,5.41,5.48,4107000,4/19/2019 17:35
4,5696,4/17/2019,main_market,healthcare,KOSSAN,7153,3.54,3.550,3.52,3.54,555400,4/19/2019 17:35

In [67]:
stock_missing = stock.isnull().sum()
gold_missing = gold.isnull().sum()
silver_missing = silver.isnull().sum()
oil_missing = oil.isnull().sum()
gas_missing = gas.isnull().sum()
news_missing = news.isnull().sum()

In [68]:
news["newsdate"]= news["newsdate"].apply(lambda x:timestring.Date(x).date)
news.head()

,newsdate,companyname,headline,article,link
0,2019-05-13 08:57:00,CIMB,UOA REIT in acquisition mode,KUALA LUMPUR: Almost a year after the RM120 mi...,https://www.theedgemarkets.com/article/uoa-rei...
1,2019-05-10 19:07:00,CIMB,CIMB Bank lowers base lending rate following O...,KUALA LUMPUR (May 10): CIMB Bank Bhd and CIMB ...,https://www.theedgemarkets.com/article/cimb-ba...
2,2019-05-10 08:22:00,CIMB,"Axiata 1Q19F earnings to rebound, says CIMB Re...",KUALA LUMPUR (May 10): CIMB IB Research has ma...,https://www.theedgemarkets.com/article/axiata-...
3,2019-05-09 11:08:00,CIMB,Minimal impact from 25bps OPR cut on banking s...,Banking sector\nMaintain overweight\nBank Nega...,https://www.theedgemarkets.com/article/minimal...
4,2019-05-09 08:20:00,CIMB,"CIMB Research downgrades Cypark, lowers target...",KUALA LUMPUR (May 9): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...

In [49]:
news["newsdate"] = news["newsdate"].apply(lambda x:pd.datetime.date(pd.to_datetime(x)))
news.head()

,newsdate,companyname,headline,article,link
0,2019-05-13,CIMB,UOA REIT in acquisition mode,KUALA LUMPUR: Almost a year after the RM120 mi...,https://www.theedgemarkets.com/article/uoa-rei...
1,2019-05-10,CIMB,CIMB Bank lowers base lending rate following O...,KUALA LUMPUR (May 10): CIMB Bank Bhd and CIMB ...,https://www.theedgemarkets.com/article/cimb-ba...
2,2019-05-10,CIMB,"Axiata 1Q19F earnings to rebound, says CIMB Re...",KUALA LUMPUR (May 10): CIMB IB Research has ma...,https://www.theedgemarkets.com/article/axiata-...
3,2019-05-09,CIMB,Minimal impact from 25bps OPR cut on banking s...,Banking sector\nMaintain overweight\nBank Nega...,https://www.theedgemarkets.com/article/minimal...
4,2019-05-09,CIMB,"CIMB Research downgrades Cypark, lowers target...",KUALA LUMPUR (May 9): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...

In [50]:
news["headlinepolarity"] = [TextBlob(news["headline"].iloc[i]).polarity for i in range(0,news.shape[0])]

In [51]:
news["articlepolarity"] = [TextBlob(news["article"].iloc[i]).polarity for i in range(0,news.shape[0])]
news.head()

,newsdate,companyname,headline,article,link,headlinepolarity,articlepolarity
0,2019-05-13,CIMB,UOA REIT in acquisition mode,KUALA LUMPUR: Almost a year after the RM120 mi...,https://www.theedgemarkets.com/article/uoa-rei...,0.0,0.137771
1,2019-05-10,CIMB,CIMB Bank lowers base lending rate following O...,KUALA LUMPUR (May 10): CIMB Bank Bhd and CIMB ...,https://www.theedgemarkets.com/article/cimb-ba...,-0.4,-0.034259
2,2019-05-10,CIMB,"Axiata 1Q19F earnings to rebound, says CIMB Re...",KUALA LUMPUR (May 10): CIMB IB Research has ma...,https://www.theedgemarkets.com/article/axiata-...,0.0,-0.118750
3,2019-05-09,CIMB,Minimal impact from 25bps OPR cut on banking s...,Banking sector\nMaintain overweight\nBank Nega...,https://www.theedgemarkets.com/article/minimal...,-0.1,-0.015848
4,2019-05-09,CIMB,"CIMB Research downgrades Cypark, lowers target...",KUALA LUMPUR (May 9): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...,0.0,-0.033333

In [52]:
news['polarity'] = news[['headlinepolarity','articlepolarity']].sum(axis=1)
news.head()

,newsdate,companyname,headline,article,link,headlinepolarity,articlepolarity,polarity
0,2019-05-13,CIMB,UOA REIT in acquisition mode,KUALA LUMPUR: Almost a year after the RM120 mi...,https://www.theedgemarkets.com/article/uoa-rei...,0.0,0.137771,0.137771
1,2019-05-10,CIMB,CIMB Bank lowers base lending rate following O...,KUALA LUMPUR (May 10): CIMB Bank Bhd and CIMB ...,https://www.theedgemarkets.com/article/cimb-ba...,-0.4,-0.034259,-0.434259
2,2019-05-10,CIMB,"Axiata 1Q19F earnings to rebound, says CIMB Re...",KUALA LUMPUR (May 10): CIMB IB Research has ma...,https://www.theedgemarkets.com/article/axiata-...,0.0,-0.118750,-0.118750
3,2019-05-09,CIMB,Minimal impact from 25bps OPR cut on banking s...,Banking sector\nMaintain overweight\nBank Nega...,https://www.theedgemarkets.com/article/minimal...,-0.1,-0.015848,-0.115848
4,2019-05-09,CIMB,"CIMB Research downgrades Cypark, lowers target...",KUALA LUMPUR (May 9): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...,0.0,-0.033333,-0.033333

In [53]:
RHBBANK_news = news
CIMB_news = news

In [55]:
#RHBBANK_news = RHBBANK_news.iloc[np.where(news["companyname"]=="RHBBANK")]
CIMB_news = CIMB_news.iloc[np.where(news["companyname"]=="CIMB")]
#RHBBANK_news
CIMB_news

,newsdate,companyname,headline,article,link,headlinepolarity,articlepolarity,polarity
0,2019-05-13,CIMB,UOA REIT in acquisition mode,KUALA LUMPUR: Almost a year after the RM120 mi...,https://www.theedgemarkets.com/article/uoa-rei...,0.000000,0.137771,0.137771
1,2019-05-10,CIMB,CIMB Bank lowers base lending rate following O...,KUALA LUMPUR (May 10): CIMB Bank Bhd and CIMB ...,https://www.theedgemarkets.com/article/cimb-ba...,-0.400000,-0.034259,-0.434259
2,2019-05-10,CIMB,"Axiata 1Q19F earnings to rebound, says CIMB Re...",KUALA LUMPUR (May 10): CIMB IB Research has ma...,https://www.theedgemarkets.com/article/axiata-...,0.000000,-0.118750,-0.118750
3,2019-05-09,CIMB,Minimal impact from 25bps OPR cut on banking s...,Banking sector\nMaintain overweight\nBank Nega...,https://www.theedgemarkets.com/article/minimal...,-0.100000,-0.015848,-0.115848
4,2019-05-09,CIMB,"CIMB Research downgrades Cypark, lowers target...",KUALA LUMPUR (May 9): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,-0.033333,-0.033333
5,2019-05-08,CIMB,Malaysian palm stocks seen near 3 mil tonnes u...,KUALA LUMPUR (May 8): Malaysian palm stocks ar...,https://www.theedgemarkets.com/article/malaysi...,0.100000,0.053921,0.153921
6,2019-05-08,CIMB,Banks lobbying MoF for provisions to be fully ...,THE banking industry is lobbying the Ministry ...,https://www.theedgemarkets.com/article/banks-l...,0.000000,0.059209,0.059209
7,2019-05-08,CIMB,"Long CIMB, short Public Bank as value, growth ...","SINGAPORE (May 8): There is a ""strong case"" fo...",https://www.theedgemarkets.com/article/long-ci...,-0.016667,0.091667,0.075000
8,2019-05-08,CIMB,Hartalega down after reporting weaker 4Q results,KUALA LUMPUR (May 8): Hartalega Holdings Bhd s...,https://www.theedgemarkets.com/article/hartale...,-0.155556,0.106250,-0.049306
9,2019-05-07,CIMB,Former Bank of Thailand deputy governor joins ...,"KUALA LUMPUR (May 7): Tongurai Limpiti, the fo...",https://www.theedgemarkets.com/article/former-...,0.000000,0.000000,0.000000
10,2019-05-07,CIMB,Analysts positive on potential Axiata-Telenor ...,KUALA LUMPUR (May 7): Axiata Group Bhd and Dig...,https://www.theedgemarkets.com/article/analyst...,0.113636,0.180715,0.294351
11,2019-05-07,CIMB,Bursa Malaysia testing use of blockchain in se...,KUALA LUMPUR: Bursa Malaysia Bhd is exploring ...,https://www.theedgemarkets.com/article/bursa-m...,0.000000,0.202500,0.202500
12,2019-05-07,CIMB,Axiata and Digi among top gainers on merger talks,KUALA LUMPUR (May 7): Axiata Group Bhd and Dig...,https://www.theedgemarkets.com/article/axiata-...,0.500000,0.228872,0.728872
13,2019-05-07,CIMB,"CIMB Research upgrades Axiata, raises target p...",KUALA LUMPUR (May 7): CIMB IB Research has upg...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,0.221136,0.221136
14,2019-05-06,CIMB,Bursa Malaysia tests blockchain in securities ...,KUALA LUMPUR (May 6): Bursa Malaysia Bhd is ex...,https://www.theedgemarkets.com/article/bursa-m...,0.000000,0.121250,0.121250
15,2019-05-06,CIMB,Newsbreak: Star Media’s CEO-designate is a no-...,IT looks like the CEO’s seat at Star Media Gro...,https://www.theedgemarkets.com/article/newsbre...,0.000000,0.013086,0.013086
16,2019-05-06,CIMB,Bursa Malaysia in the red across the board,KUALA LUMPUR (May 6): The FTSE Bursa Malaysia ...,https://www.theedgemarkets.com/article/bursa-m...,0.000000,-0.004012,-0.004012
17,2019-05-06,CIMB,亚通和Telenor洽谈合并亚洲业务,（吉隆坡6日讯）亚洲两个通讯巨擘—马来西亚亚通（Axiata Group Bhd）和挪威Te...,https://www.theedgemarkets.com/article/%E4%BA%...,0.000000,0.000000,0.000000
18,2019-05-06,CIMB,CIMB sees Malaysia palm oil stockpiles down 7%...,KUALA LUMPUR (May 6): Inventories est. -7% m-o...,https://www.theedgemarkets.com/article/cimb-se...,-0.155556,0.023137,-0.132418
19,2019-05-06,CIMB,"FBM KLCI to remain volatile in 2019, says CIMB...",KUALA LUMPUR (May 6): CIMB IB Research has its...,https://www.theedgemarkets.com/article/fbm-klc...,0.000000,0.016234,0.016234
20,2019-05-06,CIMB,Axiata and Telenor in talks to merge Asian ope...,KUALA LUMPUR: Two Asian telco giants — Malaysi...,https://www.theedgemarkets.com/article/axiata-...,0.000000,0.009181,0.009181
21,2019-05-02,CIMB,Adisorn Sermchaiwong takes over as acting CEO ...,KUALA LUMPUR (May 2): CIMB Group Holdings Bhd ...,https://www.theedgemarkets.com/article/adisorn...,0.000000,0.000000,0.000000
22,2019-05-02,CIMB,大马市场即将反弹,（新加坡/吉隆坡2日讯）马来西亚第二大银行前主席拿督斯里纳西尔表示，大马股汇将从近一年前大选...,https://www.theedgemarkets.com/article/%E5%A4%...,0.000000,0.000000,0.000000
23,2019-05-02,CIMB,KLCI drifts lower in line with regional markets,KUALA LUMPUR (May 2): The FBM KLCI tracked reg...,https://www.theedgemarkets.com/article/klci-dr...,0.000000,0.081683,0.081683
24,2019-05-02,CIMB,Malaysia’s markets set for rebound,SINGAPORE/KUALA LUMPUR: Malaysia’s stock marke...,https://www.theedgemarkets.com/article/malaysi...,0.000000,0.029898,0.029898
25,2019-05-02,CIMB,CIMB Research lowers target price for Lotte Ch...,KUALA LUMPUR (May 2): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,0.016667,0.016667
26,2019-04-30,CIMB,MRCB seeks expressions of interest for Menara ...,"MALAYSIAN Resources Corp Bhd (MRCB), the devel...",https://www.theedgemarkets.com/article/mrcb-se...,0.000000,0.079228,0.079228
27,2019-04-30,CIMB,Public Bank's 1Q results meet HLIB expectation...,KUALA LUMPUR (April 30): Public Bank Bhd's mar...,https://www.theedgemarkets.com/article/public-...,0.000000,-0.020690,-0.020690
28,2019-04-30,CIMB,CIMB’s loan growth expected to gather momentum...,"CIMB Group Holdings Bhd\n(April 29, RM5.20)\nM...",https://www.theedgemarkets.com/article/cimbs-l...,-0.100000,0.120238,0.020238
29,2019-04-30,CIMB,"PIDM’s Gan Wee Beng joins Bank Negara’s MPC, Y...",KUALA LUMPUR: Datuk Dr Gan Wee Beng has joined...,https://www.theedgemarkets.com/article/pidms-g...,0.000000,0.023718,0.023718
...,...,...,...,...,...,...,...,...
133,2019-03-28,CIMB,"KLCI pares loss, hovers just above 1,640 level",KUALA LUMPUR (March 28): The FBM KLCI hovered ...,https://www.theedgemarkets.com/article/klci-pa...,0.000000,-0.013674,-0.013674
134,2019-03-27,CIMB,Malaysia hits over 3-mth low; most wary on slo...,BENGALURU (March 27): The Malaysian stock mark...,https://www.theedgemarkets.com/article/malaysi...,0.000000,0.153311,0.153311
135,2019-03-27,CIMB,Analysts cut target prices on Sapura Energy de...,KUALA LUMPUR: Analysts have cut their 12-month...,https://www.theedgemarkets.com/article/analyst...,-0.166667,0.093333,-0.073333
136,2019-03-26,CIMB,Analysts cut target prices on Sapura Energy de...,KUALA LUMPUR (March 26): Analysts have cut the...,https://www.theedgemarkets.com/article/analyst...,-0.166667,0.101515,-0.065152
137,2019-03-25,CIMB,Public Mutual biggest winner at the 2019 Lippe...,KUALA LUMPUR (March 25): Public Mutual Bhd rep...,https://www.theedgemarkets.com/article/public-...,0.000000,0.150714,0.150714
138,2019-03-25,CIMB,Billionaire Ananda Krishnan is said to near US...,KUALA LUMPUR (March 25): Malaysian billionaire...,https://www.theedgemarkets.com/article/billion...,0.100000,-0.012000,0.088000
139,2019-03-25,CIMB,Umno lawyer facing RM15m money laundering char...,KUALA LUMPUR (March 25): Umno lawyer Datuk Moh...,https://www.theedgemarkets.com/article/umno-la...,0.000000,-0.023745,-0.023745
140,2019-03-25,CIMB,Still lack of growth catalysts despite share p...,"KUALA LUMPUR: Last year, plantation companies ...",https://www.theedgemarkets.com/article/still-l...,0.000000,0.031276,0.031276
141,2019-03-22,CIMB,"Better showing at Agic, Alim to help with Alli...","Allianz Malaysia Bhd\n(March 21, RM14.48)\nMai...",https://www.theedgemarkets.com/article/better-...,0.250000,0.108747,0.358747
142,2019-03-22,CIMB,CIMB staging a new leg of growth over next fiv...,"CIMB Group Holdings Bhd\n(March 21, RM5.33)\nM...",https://www.theedgemarkets.com/article/cimb-st...,0.068182,0.063472,0.131654
143,2019-03-21,CIMB,Hong Leong IB says it is 'conservative' on CIM...,KUALA LUMPUR (March 21): Hong Leong Investment...,https://www.theedgemarkets.com/article/hong-le...,0.000000,0.099632,0.099632
144,2019-03-21,CIMB,CIMB Research lowers target price for Top Glov...,KUALA LUMPUR (March 21): CIMB IB Research has ...,https://www.theedgemarkets.com/article/cimb-re...,0.500000,0.226786,0.726786
145,2019-03-21,CIMB,"CIMB Research downgrades Pharmaniaga, lowers t...",KUALA LUMPUR (March 21): CIMB IB Research has ...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,0.116364,0.116364
146,2019-03-20,CIMB,Pharmaniaga downgraded to Hold at CIMB; TP RM2.70,(March 20): CIMB analyst Calyne Ti downgraded ...,https://www.theedgemarkets.com/article/pharman...,0.000000,-0.141667,-0.141667
147,2019-03-20,CIMB,地缘政治事件将继续影响大马市场,（吉隆坡20日讯）MIDF Amanah投资银行研究指出，地缘政治事件将继续影响投资者对马来...,https://www.theedgemarkets.com/article/%E5%9C%...,0.000000,0.000000,0.000000
148,2019-03-20,CIMB,MIDF: Geopolitical events to continue affectin...,KUALA LUMPUR (March 20): Geopolitical events w...,https://www.theedgemarkets.com/article/midf-ge...,0.000000,0.037713,0.037713
149,2019-03-20,CIMB,Khazanah mulls closing London office,KUALA LUMPUR (March 20): Khazanah Nasional Bhd...,https://www.theedgemarkets.com/article/khazana...,0.000000,0.033847,0.033847
150,2019-03-20,CIMB,Listing unlisted GLCs will improve operations ...,KUALA LUMPUR: The government’s plan to list so...,https://www.theedgemarkets.com/article/listing...,0.000000,0.211236,0.211236
151,2019-03-20,CIMB,CIMB Research lowers target price for Gas Mala...,KUALA LUMPUR (March 20): CIMB IB Research has...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,-0.026667,-0.026667
152,2019-03-19,CIMB,"Palm oil rises, high stocks likely limit furth...",JAKARTA (March 19): Malaysian palm oil futures...,https://www.theedgemarkets.com/article/palm-oi...,0.053333,0.095898,0.149231
153,2019-03-18,CIMB,"Ringgit climbs on subdued dollar, equity gains",KUALA LUMPUR (March 18): Ringgit strengthens f...,https://www.theedgemarkets.com/article/ringgit...,0.000000,0.017367,0.017367
154,2019-03-18,CIMB,Banks' low loan loss provisioning unsustainabl...,KUALA LUMPUR (March 18): While local banks rec...,https://www.theedgemarkets.com/article/banks-l...,0.000000,0.075586,0.075586
155,2019-03-18,CIMB,Surge in Sapura Energy’s profit seen on Sapura...,"Sapura Energy Bhd\n(March 15, 36.5 sen)\nUpgra...",https://www.theedgemarkets.com/article/surge-s...,0.000000,0.101256,0.101256
156,2019-03-15,CIMB,March 20 decision on application to transfer T...,KUALA LUMPUR (March 15): The High Court will d...,https://www.theedgemarkets.com/article/march-2...,0.160000,0.037222,0.197222
157,2019-03-15,CIMB,摩根士丹利上修联昌国际至“持股观望”,（吉隆坡15日讯）摩根士丹利（Morgan Stanley）分析员Nick Lord把联昌国...,https://www.theedgemarkets.com/article/%E6%91%...,0.000000,0.000000,0.000000
158,2019-03-15,CIMB,CIMB upgraded to equal-weight at Morgan Stanle...,KUALA LUMPUR (March 15): Morgan Stanley analys...,https://www.theedgemarkets.com/article/cimb-up...,0.000000,-0.223333,-0.223333
159,2019-03-15,CIMB,"AmInvestment upgrades Sapura Energy, raises ta...",KUALA LUMPUR (March 15): AmInvestment Bank Res...,https://www.theedgemarkets.com/article/aminves...,0.000000,0.133874,0.133874
160,2019-03-15,CIMB,CIMB IB Research raises target price for Berja...,KUALA LUMPUR (March 15): CIMB IB Research has ...,https://www.theedgemarkets.com/article/cimb-ib...,0.000000,0.273333,0.273333
161,2019-03-13,CIMB,银行股领升 马股逆市扬6.96点,（吉隆坡13日讯）亚洲股市大多走低，马股在银行股和油气股带动，全日上扬6.96点。闭市时，富...,https://www.theedgemarkets.com/article/%E9%93%...,0.000000,0.000000,0.000000
162,2019-03-13,CIMB,"KLCI defies Asian selldown, up 7pts, led by banks",KUALA LUMPUR (March 13): Led by banking and oi...,https://www.theedgemarkets.com/article/klci-de...,0.000000,0.024766,0.024766

In [56]:
# RHBBANK_news.index = pd.to_datetime(RHBBANK_news["newsdate"])
# RHBBANK_news.loc[:'2019-04-01']
CIMB_news.index = pd.to_datetime(CIMB_news["newsdate"])
CIMB_news.loc[:'2019-03-01']

,newsdate,companyname,headline,article,link,headlinepolarity,articlepolarity,polarity
newsdate,,,,,,,,
2019-05-13,2019-05-13,CIMB,UOA REIT in acquisition mode,KUALA LUMPUR: Almost a year after the RM120 mi...,https://www.theedgemarkets.com/article/uoa-rei...,0.000000,0.137771,0.137771
2019-05-10,2019-05-10,CIMB,CIMB Bank lowers base lending rate following O...,KUALA LUMPUR (May 10): CIMB Bank Bhd and CIMB ...,https://www.theedgemarkets.com/article/cimb-ba...,-0.400000,-0.034259,-0.434259
2019-05-10,2019-05-10,CIMB,"Axiata 1Q19F earnings to rebound, says CIMB Re...",KUALA LUMPUR (May 10): CIMB IB Research has ma...,https://www.theedgemarkets.com/article/axiata-...,0.000000,-0.118750,-0.118750
2019-05-09,2019-05-09,CIMB,Minimal impact from 25bps OPR cut on banking s...,Banking sector\nMaintain overweight\nBank Nega...,https://www.theedgemarkets.com/article/minimal...,-0.100000,-0.015848,-0.115848
2019-05-09,2019-05-09,CIMB,"CIMB Research downgrades Cypark, lowers target...",KUALA LUMPUR (May 9): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,-0.033333,-0.033333
2019-05-08,2019-05-08,CIMB,Malaysian palm stocks seen near 3 mil tonnes u...,KUALA LUMPUR (May 8): Malaysian palm stocks ar...,https://www.theedgemarkets.com/article/malaysi...,0.100000,0.053921,0.153921
2019-05-08,2019-05-08,CIMB,Banks lobbying MoF for provisions to be fully ...,THE banking industry is lobbying the Ministry ...,https://www.theedgemarkets.com/article/banks-l...,0.000000,0.059209,0.059209
2019-05-08,2019-05-08,CIMB,"Long CIMB, short Public Bank as value, growth ...","SINGAPORE (May 8): There is a ""strong case"" fo...",https://www.theedgemarkets.com/article/long-ci...,-0.016667,0.091667,0.075000
2019-05-08,2019-05-08,CIMB,Hartalega down after reporting weaker 4Q results,KUALA LUMPUR (May 8): Hartalega Holdings Bhd s...,https://www.theedgemarkets.com/article/hartale...,-0.155556,0.106250,-0.049306
2019-05-07,2019-05-07,CIMB,Former Bank of Thailand deputy governor joins ...,"KUALA LUMPUR (May 7): Tongurai Limpiti, the fo...",https://www.theedgemarkets.com/article/former-...,0.000000,0.000000,0.000000
2019-05-07,2019-05-07,CIMB,Analysts positive on potential Axiata-Telenor ...,KUALA LUMPUR (May 7): Axiata Group Bhd and Dig...,https://www.theedgemarkets.com/article/analyst...,0.113636,0.180715,0.294351
2019-05-07,2019-05-07,CIMB,Bursa Malaysia testing use of blockchain in se...,KUALA LUMPUR: Bursa Malaysia Bhd is exploring ...,https://www.theedgemarkets.com/article/bursa-m...,0.000000,0.202500,0.202500
2019-05-07,2019-05-07,CIMB,Axiata and Digi among top gainers on merger talks,KUALA LUMPUR (May 7): Axiata Group Bhd and Dig...,https://www.theedgemarkets.com/article/axiata-...,0.500000,0.228872,0.728872
2019-05-07,2019-05-07,CIMB,"CIMB Research upgrades Axiata, raises target p...",KUALA LUMPUR (May 7): CIMB IB Research has upg...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,0.221136,0.221136
2019-05-06,2019-05-06,CIMB,Bursa Malaysia tests blockchain in securities ...,KUALA LUMPUR (May 6): Bursa Malaysia Bhd is ex...,https://www.theedgemarkets.com/article/bursa-m...,0.000000,0.121250,0.121250
2019-05-06,2019-05-06,CIMB,Newsbreak: Star Media’s CEO-designate is a no-...,IT looks like the CEO’s seat at Star Media Gro...,https://www.theedgemarkets.com/article/newsbre...,0.000000,0.013086,0.013086
2019-05-06,2019-05-06,CIMB,Bursa Malaysia in the red across the board,KUALA LUMPUR (May 6): The FTSE Bursa Malaysia ...,https://www.theedgemarkets.com/article/bursa-m...,0.000000,-0.004012,-0.004012
2019-05-06,2019-05-06,CIMB,亚通和Telenor洽谈合并亚洲业务,（吉隆坡6日讯）亚洲两个通讯巨擘—马来西亚亚通（Axiata Group Bhd）和挪威Te...,https://www.theedgemarkets.com/article/%E4%BA%...,0.000000,0.000000,0.000000
2019-05-06,2019-05-06,CIMB,CIMB sees Malaysia palm oil stockpiles down 7%...,KUALA LUMPUR (May 6): Inventories est. -7% m-o...,https://www.theedgemarkets.com/article/cimb-se...,-0.155556,0.023137,-0.132418
2019-05-06,2019-05-06,CIMB,"FBM KLCI to remain volatile in 2019, says CIMB...",KUALA LUMPUR (May 6): CIMB IB Research has its...,https://www.theedgemarkets.com/article/fbm-klc...,0.000000,0.016234,0.016234
2019-05-06,2019-05-06,CIMB,Axiata and Telenor in talks to merge Asian ope...,KUALA LUMPUR: Two Asian telco giants — Malaysi...,https://www.theedgemarkets.com/article/axiata-...,0.000000,0.009181,0.009181
2019-05-02,2019-05-02,CIMB,Adisorn Sermchaiwong takes over as acting CEO ...,KUALA LUMPUR (May 2): CIMB Group Holdings Bhd ...,https://www.theedgemarkets.com/article/adisorn...,0.000000,0.000000,0.000000
2019-05-02,2019-05-02,CIMB,大马市场即将反弹,（新加坡/吉隆坡2日讯）马来西亚第二大银行前主席拿督斯里纳西尔表示，大马股汇将从近一年前大选...,https://www.theedgemarkets.com/article/%E5%A4%...,0.000000,0.000000,0.000000
2019-05-02,2019-05-02,CIMB,KLCI drifts lower in line with regional markets,KUALA LUMPUR (May 2): The FBM KLCI tracked reg...,https://www.theedgemarkets.com/article/klci-dr...,0.000000,0.081683,0.081683
2019-05-02,2019-05-02,CIMB,Malaysia’s markets set for rebound,SINGAPORE/KUALA LUMPUR: Malaysia’s stock marke...,https://www.theedgemarkets.com/article/malaysi...,0.000000,0.029898,0.029898
2019-05-02,2019-05-02,CIMB,CIMB Research lowers target price for Lotte Ch...,KUALA LUMPUR (May 2): CIMB IB Research has dow...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,0.016667,0.016667
2019-04-30,2019-04-30,CIMB,MRCB seeks expressions of interest for Menara ...,"MALAYSIAN Resources Corp Bhd (MRCB), the devel...",https://www.theedgemarkets.com/article/mrcb-se...,0.000000,0.079228,0.079228
2019-04-30,2019-04-30,CIMB,Public Bank's 1Q results meet HLIB expectation...,KUALA LUMPUR (April 30): Public Bank Bhd's mar...,https://www.theedgemarkets.com/article/public-...,0.000000,-0.020690,-0.020690
2019-04-30,2019-04-30,CIMB,CIMB’s loan growth expected to gather momentum...,"CIMB Group Holdings Bhd\n(April 29, RM5.20)\nM...",https://www.theedgemarkets.com/article/cimbs-l...,-0.100000,0.120238,0.020238
2019-04-30,2019-04-30,CIMB,"PIDM’s Gan Wee Beng joins Bank Negara’s MPC, Y...",KUALA LUMPUR: Datuk Dr Gan Wee Beng has joined...,https://www.theedgemarkets.com/article/pidms-g...,0.000000,0.023718,0.023718
...,...,...,...,...,...,...,...,...
2019-03-28,2019-03-28,CIMB,"KLCI pares loss, hovers just above 1,640 level",KUALA LUMPUR (March 28): The FBM KLCI hovered ...,https://www.theedgemarkets.com/article/klci-pa...,0.000000,-0.013674,-0.013674
2019-03-27,2019-03-27,CIMB,Malaysia hits over 3-mth low; most wary on slo...,BENGALURU (March 27): The Malaysian stock mark...,https://www.theedgemarkets.com/article/malaysi...,0.000000,0.153311,0.153311
2019-03-27,2019-03-27,CIMB,Analysts cut target prices on Sapura Energy de...,KUALA LUMPUR: Analysts have cut their 12-month...,https://www.theedgemarkets.com/article/analyst...,-0.166667,0.093333,-0.073333
2019-03-26,2019-03-26,CIMB,Analysts cut target prices on Sapura Energy de...,KUALA LUMPUR (March 26): Analysts have cut the...,https://www.theedgemarkets.com/article/analyst...,-0.166667,0.101515,-0.065152
2019-03-25,2019-03-25,CIMB,Public Mutual biggest winner at the 2019 Lippe...,KUALA LUMPUR (March 25): Public Mutual Bhd rep...,https://www.theedgemarkets.com/article/public-...,0.000000,0.150714,0.150714
2019-03-25,2019-03-25,CIMB,Billionaire Ananda Krishnan is said to near US...,KUALA LUMPUR (March 25): Malaysian billionaire...,https://www.theedgemarkets.com/article/billion...,0.100000,-0.012000,0.088000
2019-03-25,2019-03-25,CIMB,Umno lawyer facing RM15m money laundering char...,KUALA LUMPUR (March 25): Umno lawyer Datuk Moh...,https://www.theedgemarkets.com/article/umno-la...,0.000000,-0.023745,-0.023745
2019-03-25,2019-03-25,CIMB,Still lack of growth catalysts despite share p...,"KUALA LUMPUR: Last year, plantation companies ...",https://www.theedgemarkets.com/article/still-l...,0.000000,0.031276,0.031276
2019-03-22,2019-03-22,CIMB,"Better showing at Agic, Alim to help with Alli...","Allianz Malaysia Bhd\n(March 21, RM14.48)\nMai...",https://www.theedgemarkets.com/article/better-...,0.250000,0.108747,0.358747
2019-03-22,2019-03-22,CIMB,CIMB staging a new leg of growth over next fiv...,"CIMB Group Holdings Bhd\n(March 21, RM5.33)\nM...",https://www.theedgemarkets.com/article/cimb-st...,0.068182,0.063472,0.131654
2019-03-21,2019-03-21,CIMB,Hong Leong IB says it is 'conservative' on CIM...,KUALA LUMPUR (March 21): Hong Leong Investment...,https://www.theedgemarkets.com/article/hong-le...,0.000000,0.099632,0.099632
2019-03-21,2019-03-21,CIMB,CIMB Research lowers target price for Top Glov...,KUALA LUMPUR (March 21): CIMB IB Research has ...,https://www.theedgemarkets.com/article/cimb-re...,0.500000,0.226786,0.726786
2019-03-21,2019-03-21,CIMB,"CIMB Research downgrades Pharmaniaga, lowers t...",KUALA LUMPUR (March 21): CIMB IB Research has ...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,0.116364,0.116364
2019-03-20,2019-03-20,CIMB,Pharmaniaga downgraded to Hold at CIMB; TP RM2.70,(March 20): CIMB analyst Calyne Ti downgraded ...,https://www.theedgemarkets.com/article/pharman...,0.000000,-0.141667,-0.141667
2019-03-20,2019-03-20,CIMB,地缘政治事件将继续影响大马市场,（吉隆坡20日讯）MIDF Amanah投资银行研究指出，地缘政治事件将继续影响投资者对马来...,https://www.theedgemarkets.com/article/%E5%9C%...,0.000000,0.000000,0.000000
2019-03-20,2019-03-20,CIMB,MIDF: Geopolitical events to continue affectin...,KUALA LUMPUR (March 20): Geopolitical events w...,https://www.theedgemarkets.com/article/midf-ge...,0.000000,0.037713,0.037713
2019-03-20,2019-03-20,CIMB,Khazanah mulls closing London office,KUALA LUMPUR (March 20): Khazanah Nasional Bhd...,https://www.theedgemarkets.com/article/khazana...,0.000000,0.033847,0.033847
2019-03-20,2019-03-20,CIMB,Listing unlisted GLCs will improve operations ...,KUALA LUMPUR: The government’s plan to list so...,https://www.theedgemarkets.com/article/listing...,0.000000,0.211236,0.211236
2019-03-20,2019-03-20,CIMB,CIMB Research lowers target price for Gas Mala...,KUALA LUMPUR (March 20): CIMB IB Research has...,https://www.theedgemarkets.com/article/cimb-re...,0.000000,-0.026667,-0.026667
2019-03-19,2019-03-19,CIMB,"Palm oil rises, high stocks likely limit furth...",JAKARTA (March 19): Malaysian palm oil futures...,https://www.theedgemarkets.com/article/palm-oi...,0.053333,0.095898,0.149231
2019-03-18,2019-03-18,CIMB,"Ringgit climbs on subdued dollar, equity gains",KUALA LUMPUR (March 18): Ringgit strengthens f...,https://www.theedgemarkets.com/article/ringgit...,0.000000,0.017367,0.017367
2019-03-18,2019-03-18,CIMB,Banks' low loan loss provisioning unsustainabl...,KUALA LUMPUR (March 18): While local banks rec...,https://www.theedgemarkets.com/article/banks-l...,0.000000,0.075586,0.075586
2019-03-18,2019-03-18,CIMB,Surge in Sapura Energy’s profit seen on Sapura...,"Sapura Energy Bhd\n(March 15, 36.5 sen)\nUpgra...",https://www.theedgemarkets.com/article/surge-s...,0.000000,0.101256,0.101256
2019-03-15,2019-03-15,CIMB,March 20 decision on application to transfer T...,KUALA LUMPUR (March 15): The High Court will d...,https://www.theedgemarkets.com/article/march-2...,0.160000,0.037222,0.197222
2019-03-15,2019-03-15,CIMB,摩根士丹利上修联昌国际至“持股观望”,（吉隆坡15日讯）摩根士丹利（Morgan Stanley）分析员Nick Lord把联昌国...,https://www.theedgemarkets.com/article/%E6%91%...,0.000000,0.000000,0.000000
2019-03-15,2019-03-15,CIMB,CIMB upgraded to equal-weight at Morgan Stanle...,KUALA LUMPUR (March 15): Morgan Stanley analys...,https://www.theedgemarkets.com/article/cimb-up...,0.000000,-0.223333,-0.223333
2019-03-15,2019-03-15,CIMB,"AmInvestment upgrades Sapura Energy, raises ta...",KUALA LUMPUR (March 15): AmInvestment Bank Res...,https://www.theedgemarkets.com/article/aminves...,0.000000,0.133874,0.133874
2019-03-15,2019-03-15,CIMB,CIMB IB Research raises target price for Berja...,KUALA LUMPUR (March 15): CIMB IB Research has ...,https://www.theedgemarkets.com/article/cimb-ib...,0.000000,0.273333,0.273333
2019-03-13,2019-03-13,CIMB,银行股领升 马股逆市扬6.96点,（吉隆坡13日讯）亚洲股市大多走低，马股在银行股和油气股带动，全日上扬6.96点。闭市时，富...,https://www.theedgemarkets.com/article/%E9%93%...,0.000000,0.000000,0.000000
2019-03-13,2019-03-13,CIMB,"KLCI defies Asian selldown, up 7pts, led by banks",KUALA LUMPUR (March 13): Led by banking and oi...,https://www.theedgemarkets.com/article/klci-de...,0.000000,0.024766,0.024766

In [57]:
# RHBBANK_news1 = RHBBANK_news.loc["2019-04-30":"2019-04-01"].resample("B").sum()
# RHBBANK_news1
CIMB_news1 = CIMB_news.loc["2019-05-13":"2019-03-01"].resample("B").sum()
CIMB_news1

            headlinepolarity  articlepolarity  polarity
newsdate
2019-03-13          0.000000         0.024766  0.024766
2019-03-14          0.000000         0.000000  0.000000
2019-03-15          0.160000         0.221097  0.381097
2019-03-18          0.000000         0.194209  0.194209
2019-03-19          0.053333         0.095898  0.149231
2019-03-20          0.000000         0.114464  0.114464
2019-03-21          0.500000         0.442781  0.942781
2019-03-22          0.318182         0.172218  0.490400
2019-03-25          0.100000         0.146245  0.246245
2019-03-26         -0.166667         0.101515 -0.065152
2019-03-27         -0.166667         0.246644  0.079977
2019-03-28          0.000000         0.046879  0.046879
2019-03-29         -0.240556         0.500339  0.259784
2019-04-01          0.603030         0.116085  0.719115
2019-04-02          0.250000         0.273898  0.523898
2019-04-03          0.500000         0.196057  0.696057
2019-04-04          0.000000         0.348740  0.348740
2019-04-05         -0.263636         0.318710  0.055073
2019-04-08          0.727273         0.408004  1.135277
2019-04-09          0.208081         0.145665  0.353745
2019-04-10         -0.155556         0.034540 -0.121016
2019-04-11         -0.300000         0.082611 -0.217389
2019-04-12          0.500000         0.360599  0.860599
2019-04-15          0.000000         0.074964  0.074964
2019-04-16          0.668939         0.504926  1.173865
2019-04-17          0.136364         0.138831  0.275195
2019-04-18         -0.133333         0.785171  0.651838
2019-04-19          0.960606         0.915579  1.876185
2019-04-22          0.113636         0.002392  0.116028
2019-04-23          0.300000         0.201447  0.501447
2019-04-24          0.000000         0.123553  0.123553
2019-04-25          0.525000         0.237716  0.762716
2019-04-26         -0.250000         0.638871  0.388871
2019-04-29         -0.050000         0.417676  0.367676
2019-04-30         -0.100000         0.202495  0.102495
2019-05-01          0.000000         0.000000  0.000000
2019-05-02          0.000000         0.128248  0.128248
2019-05-03          0.000000         0.000000  0.000000
2019-05-06         -0.155556         0.178877  0.023321
2019-05-07          0.613636         0.833223  1.446860
2019-05-08         -0.072222         0.311048  0.238825
2019-05-09         -0.100000        -0.049182 -0.149182
2019-05-10         -0.400000        -0.153009 -0.553009
2019-05-13          0.000000         0.137771  0.137771

In [69]:
# RHBBANK_stock = stock.loc[np.where(stock["companyname"]=="RHBBANK")]
# RHBBANK_stock
CIMB_stock = stock.loc[np.where(stock["companyname"]=="CIMB")]
CIMB_stock

,Id,stockdate,sector,subsector,companyname,stockcode,openprice,highprice,lowprice,lastprice,volume,created_at
220,223009,4/17/2019,main_market,finance,CIMB,1023,5.01,5.08,5.00,5.05,12978800,4/19/2019 17:38
1409,223008,4/16/2019,main_market,finance,CIMB,1023,5.06,5.07,5.01,5.05,6761600,4/19/2019 17:38
2559,223007,4/15/2019,main_market,finance,CIMB,1023,5.08,5.10,5.05,5.05,5921900,4/19/2019 17:38
3726,223006,4/14/2019,main_market,finance,CIMB,1023,5.07,5.13,5.06,5.06,3695800,4/19/2019 17:38
4950,223005,4/11/2019,main_market,finance,CIMB,1023,5.07,5.08,5.06,5.06,3507200,4/19/2019 17:38
6138,223004,4/10/2019,main_market,finance,CIMB,1023,5.08,5.12,5.06,5.06,7562100,4/19/2019 17:38
7354,223003,4/9/2019,main_market,finance,CIMB,1023,5.09,5.10,5.06,5.08,3525600,4/19/2019 17:38
8531,223002,4/8/2019,main_market,finance,CIMB,1023,5.10,5.11,5.07,5.09,12074500,4/19/2019 17:38
9739,223001,4/7/2019,main_market,finance,CIMB,1023,5.10,5.12,5.08,5.09,7378400,4/19/2019 17:38
10935,223000,4/4/2019,main_market,finance,CIMB,1023,5.10,5.13,5.10,5.11,2330800,4/19/2019 17:38
12082,222999,4/3/2019,main_market,finance,CIMB,1023,5.12,5.14,5.08,5.10,5893700,4/19/2019 17:38
13262,222998,4/2/2019,main_market,finance,CIMB,1023,5.12,5.14,5.09,5.12,4853400,4/19/2019 17:38
14433,222997,4/1/2019,main_market,finance,CIMB,1023,5.10,5.13,5.09,5.12,7280700,4/19/2019 17:38
15613,222996,3/31/2019,main_market,finance,CIMB,1023,5.15,5.17,5.08,5.08,9599200,4/19/2019 17:38
16777,222995,3/28/2019,main_market,finance,CIMB,1023,5.13,5.19,5.11,5.15,12417500,4/19/2019 17:38
17950,222994,3/27/2019,main_market,finance,CIMB,1023,5.07,5.14,5.07,5.11,12355900,4/19/2019 17:38
19053,222993,3/26/2019,main_market,finance,CIMB,1023,5.13,5.15,5.04,5.07,17238700,4/19/2019 17:38
20147,222992,3/25/2019,main_market,finance,CIMB,1023,5.14,5.20,5.09,5.12,15074700,4/19/2019 17:38
21260,222991,3/24/2019,main_market,finance,CIMB,1023,5.17,5.22,5.10,5.12,13937300,4/19/2019 17:38
22383,222990,3/21/2019,main_market,finance,CIMB,1023,5.38,5.38,5.31,5.33,10230500,4/19/2019 17:38
23550,222989,3/20/2019,main_market,finance,CIMB,1023,5.40,5.46,5.31,5.33,16820100,4/19/2019 17:38
24726,222988,3/19/2019,main_market,finance,CIMB,1023,5.47,5.48,5.38,5.39,13273000,4/19/2019 17:38
25870,222987,3/18/2019,main_market,finance,CIMB,1023,5.49,5.50,5.45,5.47,10348500,4/19/2019 17:38
27037,222986,3/17/2019,main_market,finance,CIMB,1023,5.49,5.51,5.45,5.48,10362900,4/19/2019 17:38
28212,222985,3/14/2019,main_market,finance,CIMB,1023,5.48,5.52,5.46,5.48,13994900,4/19/2019 17:38
29389,222984,3/13/2019,main_market,finance,CIMB,1023,5.47,5.50,5.45,5.47,8977500,4/19/2019 17:38
30587,222983,3/12/2019,main_market,finance,CIMB,1023,5.39,5.47,5.38,5.45,11804600,4/19/2019 17:38
31775,222982,3/11/2019,main_market,finance,CIMB,1023,5.30,5.39,5.29,5.37,14225600,4/19/2019 17:38
32963,222981,3/10/2019,main_market,finance,CIMB,1023,5.42,5.44,5.28,5.28,9575500,4/19/2019 17:38
34128,222980,3/7/2019,main_market,finance,CIMB,1023,5.47,5.49,5.38,5.39,13433700,4/19/2019 17:38
35290,222979,3/6/2019,main_market,finance,CIMB,1023,5.50,5.53,5.45,5.45,14502300,4/19/2019 17:38
36483,222978,3/5/2019,main_market,finance,CIMB,1023,5.62,5.63,5.51,5.52,14276600,4/19/2019 17:38
37654,222977,3/4/2019,main_market,finance,CIMB,1023,5.62,5.66,5.59,5.59,11373000,4/19/2019 17:38
38808,222976,3/3/2019,main_market,finance,CIMB,1023,5.62,5.69,5.62,5.64,9008100,4/19/2019 17:38

In [70]:
# RHBBANK_stock["stockdate"] = RHBBANK_stock["stockdate"].apply(lambda x:pd.datetime.date(pd.to_datetime(x)))
# RHBBANK_stock.head()
CIMB_stock["stockdate"] = CIMB_stock["stockdate"].apply(lambda x:pd.datetime.date(pd.to_datetime(x)))
CIMB_stock.head()

,Id,stockdate,sector,subsector,companyname,stockcode,openprice,highprice,lowprice,lastprice,volume,created_at
220,223009,2019-04-17,main_market,finance,CIMB,1023,5.01,5.08,5.00,5.05,12978800,4/19/2019 17:38
1409,223008,2019-04-16,main_market,finance,CIMB,1023,5.06,5.07,5.01,5.05,6761600,4/19/2019 17:38
2559,223007,2019-04-15,main_market,finance,CIMB,1023,5.08,5.10,5.05,5.05,5921900,4/19/2019 17:38
3726,223006,2019-04-14,main_market,finance,CIMB,1023,5.07,5.13,5.06,5.06,3695800,4/19/2019 17:38
4950,223005,2019-04-11,main_market,finance,CIMB,1023,5.07,5.08,5.06,5.06,3507200,4/19/2019 17:38

In [60]:
gold["golddate"] = gold["golddate"].apply(lambda x:pd.datetime.date(pd.to_datetime(x)))
gold.head()

,Id,golddate,openprice,highprice,lowprice,closeprice,volume,created_at
0,1,2015-03-12,15.560,15.565,15.465,15.493,94,4/19/2019 17:54
1,2,2015-03-13,15.610,15.620,15.475,15.477,59,4/19/2019 17:54
2,3,2015-03-15,15.627,15.627,15.565,15.585,0,4/19/2019 17:54
3,4,2015-03-16,15.690,15.715,15.500,15.601,71,4/19/2019 17:54
4,5,2015-03-17,15.490,15.635,15.490,15.562,39,4/19/2019 17:54

In [62]:
oil["oildate"] = oil["oildate"].apply(lambda x:pd.datetime.date(pd.to_datetime(x)))
oil.head()

,Id,oildate,openprice,highprice,lowprice,closeprice,volume,created_at
0,1,2015-03-12,57.919998,58.810001,56.509998,57.080002,129734,4/19/2019 17:54
1,2,2015-03-13,57.029999,57.400002,54.430000,54.669998,84085,4/19/2019 17:54
2,3,2015-03-16,54.410000,54.639999,52.500000,53.439999,15638,4/19/2019 17:54
3,4,2015-03-17,54.099998,54.380001,52.570000,53.509998,240285,4/19/2019 17:54
4,5,2015-03-18,53.279999,56.840000,52.680000,55.910000,262440,4/19/2019 17:54

In [77]:
# RHBBANK_stock.index = pd.to_datetime(RHBBANK_stock["stockdate"])
# RHBBANK_stock.loc['2019-04-01':]
CIMB_stock.index = pd.to_datetime(CIMB_stock["stockdate"])
CIMB_stock.loc['2019-05-17':]

,Id,stockdate,sector,subsector,companyname,stockcode,openprice,highprice,lowprice,lastprice,volume,created_at
stockdate,,,,,,,,,,,,
2019-04-17,223009,2019-04-17,main_market,finance,CIMB,1023,5.01,5.08,5.00,5.05,12978800,4/19/2019 17:38
2019-04-16,223008,2019-04-16,main_market,finance,CIMB,1023,5.06,5.07,5.01,5.05,6761600,4/19/2019 17:38
2019-04-15,223007,2019-04-15,main_market,finance,CIMB,1023,5.08,5.10,5.05,5.05,5921900,4/19/2019 17:38
2019-04-14,223006,2019-04-14,main_market,finance,CIMB,1023,5.07,5.13,5.06,5.06,3695800,4/19/2019 17:38
2019-04-11,223005,2019-04-11,main_market,finance,CIMB,1023,5.07,5.08,5.06,5.06,3507200,4/19/2019 17:38
2019-04-10,223004,2019-04-10,main_market,finance,CIMB,1023,5.08,5.12,5.06,5.06,7562100,4/19/2019 17:38
2019-04-09,223003,2019-04-09,main_market,finance,CIMB,1023,5.09,5.10,5.06,5.08,3525600,4/19/2019 17:38
2019-04-08,223002,2019-04-08,main_market,finance,CIMB,1023,5.10,5.11,5.07,5.09,12074500,4/19/2019 17:38
2019-04-07,223001,2019-04-07,main_market,finance,CIMB,1023,5.10,5.12,5.08,5.09,7378400,4/19/2019 17:38
2019-04-04,223000,2019-04-04,main_market,finance,CIMB,1023,5.10,5.13,5.10,5.11,2330800,4/19/2019 17:38
2019-04-03,222999,2019-04-03,main_market,finance,CIMB,1023,5.12,5.14,5.08,5.10,5893700,4/19/2019 17:38
2019-04-02,222998,2019-04-02,main_market,finance,CIMB,1023,5.12,5.14,5.09,5.12,4853400,4/19/2019 17:38
2019-04-01,222997,2019-04-01,main_market,finance,CIMB,1023,5.10,5.13,5.09,5.12,7280700,4/19/2019 17:38
2019-03-31,222996,2019-03-31,main_market,finance,CIMB,1023,5.15,5.17,5.08,5.08,9599200,4/19/2019 17:38
2019-03-28,222995,2019-03-28,main_market,finance,CIMB,1023,5.13,5.19,5.11,5.15,12417500,4/19/2019 17:38
2019-03-27,222994,2019-03-27,main_market,finance,CIMB,1023,5.07,5.14,5.07,5.11,12355900,4/19/2019 17:38
2019-03-26,222993,2019-03-26,main_market,finance,CIMB,1023,5.13,5.15,5.04,5.07,17238700,4/19/2019 17:38
2019-03-25,222992,2019-03-25,main_market,finance,CIMB,1023,5.14,5.20,5.09,5.12,15074700,4/19/2019 17:38
2019-03-24,222991,2019-03-24,main_market,finance,CIMB,1023,5.17,5.22,5.10,5.12,13937300,4/19/2019 17:38
2019-03-21,222990,2019-03-21,main_market,finance,CIMB,1023,5.38,5.38,5.31,5.33,10230500,4/19/2019 17:38
2019-03-20,222989,2019-03-20,main_market,finance,CIMB,1023,5.40,5.46,5.31,5.33,16820100,4/19/2019 17:38
2019-03-19,222988,2019-03-19,main_market,finance,CIMB,1023,5.47,5.48,5.38,5.39,13273000,4/19/2019 17:38
2019-03-18,222987,2019-03-18,main_market,finance,CIMB,1023,5.49,5.50,5.45,5.47,10348500,4/19/2019 17:38
2019-03-17,222986,2019-03-17,main_market,finance,CIMB,1023,5.49,5.51,5.45,5.48,10362900,4/19/2019 17:38
2019-03-14,222985,2019-03-14,main_market,finance,CIMB,1023,5.48,5.52,5.46,5.48,13994900,4/19/2019 17:38
2019-03-13,222984,2019-03-13,main_market,finance,CIMB,1023,5.47,5.50,5.45,5.47,8977500,4/19/2019 17:38
2019-03-12,222983,2019-03-12,main_market,finance,CIMB,1023,5.39,5.47,5.38,5.45,11804600,4/19/2019 17:38
2019-03-11,222982,2019-03-11,main_market,finance,CIMB,1023,5.30,5.39,5.29,5.37,14225600,4/19/2019 17:38
2019-03-10,222981,2019-03-10,main_market,finance,CIMB,1023,5.42,5.44,5.28,5.28,9575500,4/19/2019 17:38
2019-03-07,222980,2019-03-07,main_market,finance,CIMB,1023,5.47,5.49,5.38,5.39,13433700,4/19/2019 17:38
2019-03-06,222979,2019-03-06,main_market,finance,CIMB,1023,5.50,5.53,5.45,5.45,14502300,4/19/2019 17:38
2019-03-05,222978,2019-03-05,main_market,finance,CIMB,1023,5.62,5.63,5.51,5.52,14276600,4/19/2019 17:38
2019-03-04,222977,2019-03-04,main_market,finance,CIMB,1023,5.62,5.66,5.59,5.59,11373000,4/19/2019 17:38
2019-03-03,222976,2019-03-03,main_market,finance,CIMB,1023,5.62,5.69,5.62,5.64,9008100,4/19/2019 17:38

In [84]:
gold.index = pd.to_datetime(gold["golddate"])
gold1 = gold.loc['2019-03-01':]

In [85]:
oil.index = pd.to_datetime(oil["oildate"])
oil1 = oil.loc['2019-03-01':]

In [20]:
RHBBANK = pd.concat([RHBBANK_stock["lastprice"]
                      ,RHBBANK_news1["polarity"]]
                      , keys = ["stockprice","newspolarity"], axis = 1).ffill().bfill()
RHBBANK

            stockprice  newspolarity
2019-04-01        5.65      0.557766
2019-04-02        5.75      0.557766
2019-04-03        5.75      0.000000
2019-04-04        5.73      0.000000
2019-04-05        5.73     -0.141253
2019-04-07        5.68     -0.141253
2019-04-08        5.66      0.840428
2019-04-09        5.69      0.287677
2019-04-10        5.68      0.000000
2019-04-11        5.75      0.275617
2019-04-12        5.75      0.000000
2019-04-14        5.75      0.000000
2019-04-15        5.75      0.139610
2019-04-16        5.79     -0.141970
2019-04-17        5.82      0.200758
2019-04-18        5.80      0.067062
2019-04-19        5.80      0.048687
2019-04-21        5.76      0.048687
2019-04-22        5.75      0.025921
2019-04-23        5.79      0.018558
2019-04-24        5.80      0.318243
2019-04-25        5.91      0.110593
2019-04-26        5.91      0.010417
2019-04-28        5.90      0.010417
2019-04-29        5.96     -0.020236
2019-04-30        5.96      0.197121

In [88]:
CIMB = pd.concat([CIMB_stock["lastprice"]
                      ,CIMB_news1["polarity"], gold1["closeprice"], oil1["closeprice"]]
                      , keys = ["stockprice","newspolarity", "goldprice", "oilprice"], axis = 1).ffill().bfill()
CIMB

            stockprice  newspolarity  goldprice   oilprice
2019-03-01        5.64      0.024766     15.256  65.070000
2019-03-03        5.64      0.024766     15.160  65.070000
2019-03-04        5.59      0.024766     15.105  65.669998
2019-03-05        5.52      0.024766     15.105  65.860001
2019-03-06        5.45      0.024766     15.085  65.989998
2019-03-07        5.39      0.024766     15.040  66.300003
2019-03-08        5.39      0.024766     15.349  65.739998
2019-03-10        5.28      0.024766     15.338  65.739998
2019-03-11        5.37      0.024766     15.274  66.580002
2019-03-12        5.45      0.024766     15.413  66.669998
2019-03-13        5.47      0.024766     15.456  67.550003
2019-03-14        5.48      0.000000     15.171  67.230003
2019-03-15        5.48      0.381097     15.324  67.160004
2019-03-17        5.48      0.381097     15.268  67.160004
2019-03-18        5.47      0.194209     15.322  67.540001
2019-03-19        5.39      0.149231     15.372  67.610001
2019-03-20        5.33      0.114464     15.318  68.500000
2019-03-21        5.33      0.942781     15.437  67.860001
2019-03-22        5.33      0.490400     15.407  67.029999
2019-03-24        5.12      0.490400     15.408  67.029999
2019-03-25        5.12      0.246245     15.567  67.209999
2019-03-26        5.07     -0.065152     15.429  67.970001
2019-03-27        5.11      0.079977     15.298  67.830002
2019-03-28        5.15      0.046879     14.973  67.820000
2019-03-29        5.15      0.259784     15.110  68.389999
2019-03-31        5.08      0.259784     15.113  68.389999
2019-04-01        5.12      0.719115     15.099  69.010002
2019-04-02        5.12      0.523898     15.061  69.370003
2019-04-03        5.10      0.696057     15.102  69.309998
2019-04-04        5.11      0.348740     15.084  69.400002
2019-04-05        5.11      0.055073     15.086  70.339996
2019-04-07        5.09      0.055073     15.088  70.339996
2019-04-08        5.09      1.135277     15.216  71.099998
2019-04-09        5.08      0.353745     15.211  70.610001
2019-04-10        5.06     -0.121016     15.244  71.730003
2019-04-11        5.06     -0.217389     14.867  70.830002
2019-04-12        5.06      0.860599     14.963  71.550003
2019-04-14        5.06      0.860599     14.918  71.550003
2019-04-15        5.05      0.074964     14.975  71.180000
2019-04-16        5.05      1.173865     14.915  71.720001
2019-04-17        5.05      0.275195     14.939  71.620003
2019-04-18        5.05      0.651838     14.955  71.949997
2019-04-19        5.05      1.876185     14.965  71.949997
2019-04-22        5.05      0.116028     14.965  71.949997
2019-04-23        5.05      0.501447     14.965  71.949997
2019-04-24        5.05      0.123553     14.965  71.949997
2019-04-25        5.05      0.762716     14.965  71.949997
2019-04-26        5.05      0.388871     14.965  71.949997
2019-04-29        5.05      0.367676     14.965  71.949997
2019-04-30        5.05      0.102495     14.965  71.949997
2019-05-01        5.05      0.000000     14.965  71.949997
2019-05-02        5.05      0.128248     14.965  71.949997
2019-05-03        5.05      0.000000     14.965  71.949997
2019-05-06        5.05      0.023321     14.965  71.949997
2019-05-07        5.05      1.446860     14.965  71.949997
2019-05-08        5.05      0.238825     14.965  71.949997
2019-05-09        5.05     -0.149182     14.965  71.949997
2019-05-10        5.05     -0.553009     14.965  71.949997
2019-05-13        5.05      0.137771     14.965  71.949997

In [90]:
CIMB.to_csv("CIMB2.csv")

In [82]:
CIMB_news1
# gold

            headlinepolarity  articlepolarity  polarity
newsdate
2019-03-13          0.000000         0.024766  0.024766
2019-03-14          0.000000         0.000000  0.000000
2019-03-15          0.160000         0.221097  0.381097
2019-03-18          0.000000         0.194209  0.194209
2019-03-19          0.053333         0.095898  0.149231
2019-03-20          0.000000         0.114464  0.114464
2019-03-21          0.500000         0.442781  0.942781
2019-03-22          0.318182         0.172218  0.490400
2019-03-25          0.100000         0.146245  0.246245
2019-03-26         -0.166667         0.101515 -0.065152
2019-03-27         -0.166667         0.246644  0.079977
2019-03-28          0.000000         0.046879  0.046879
2019-03-29         -0.240556         0.500339  0.259784
2019-04-01          0.603030         0.116085  0.719115
2019-04-02          0.250000         0.273898  0.523898
2019-04-03          0.500000         0.196057  0.696057
2019-04-04          0.000000         0.348740  0.348740
2019-04-05         -0.263636         0.318710  0.055073
2019-04-08          0.727273         0.408004  1.135277
2019-04-09          0.208081         0.145665  0.353745
2019-04-10         -0.155556         0.034540 -0.121016
2019-04-11         -0.300000         0.082611 -0.217389
2019-04-12          0.500000         0.360599  0.860599
2019-04-15          0.000000         0.074964  0.074964
2019-04-16          0.668939         0.504926  1.173865
2019-04-17          0.136364         0.138831  0.275195
2019-04-18         -0.133333         0.785171  0.651838
2019-04-19          0.960606         0.915579  1.876185
2019-04-22          0.113636         0.002392  0.116028
2019-04-23          0.300000         0.201447  0.501447
2019-04-24          0.000000         0.123553  0.123553
2019-04-25          0.525000         0.237716  0.762716
2019-04-26         -0.250000         0.638871  0.388871
2019-04-29         -0.050000         0.417676  0.367676
2019-04-30         -0.100000         0.202495  0.102495
2019-05-01          0.000000         0.000000  0.000000
2019-05-02          0.000000         0.128248  0.128248
2019-05-03          0.000000         0.000000  0.000000
2019-05-06         -0.155556         0.178877  0.023321
2019-05-07          0.613636         0.833223  1.446860
2019-05-08         -0.072222         0.311048  0.238825
2019-05-09         -0.100000        -0.049182 -0.149182
2019-05-10         -0.400000        -0.153009 -0.553009
2019-05-13          0.000000         0.137771  0.137771

In [29]:
CIMB.to_csv('CIMB2.csv')

In [30]:
RHBBANK.to_csv('RHBBANK.csv')